# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
.venv/

# Databases & Data Cache
*.db
*.sqlite3
*.parquet
data/
!data/.gitkeep

# Logs
logs/
*.log

# Editor
.vscode/
.idea/

# macOS
.DS_Store

# Temporary Git files
mingit/
mingit.zip

# Environment & local secrets
.env

# Scratch & Backup
scratch/
*.bak

